*.iml

.idea/

.gradle
/local.properties
/.idea/workspace.xml
/build

*.apk
*.ap_
*.dex
*.class

bin/
gen/

proguard/
*.log

tools/flags
app/src/main/res/drawable-*/flag_*.png

tools/cty.dat
app/src/main/res/raw/cty.txt
